@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
  --azul: #0367A6;
  --verde: #09A603;
  --verde-oscuro: #055902;
  --verder-super-oscuro: #034001;
  --verde-oscuro-alternativo:#004900;
  --celeste: #77DCF2;
  /* --blanco: #F9F6EE; */
  --blanco: #fcf9ed;
  --verde-menu: #8bae83;
  --verde-menu-claro: #82C274;
}

.menuControlPanelOpcion {
  padding: 0.25rem 4rem; /* Esto equivale a px-16 p-1 */
  width: 100%;
  transition: all 0.2s ease-in-out; /* Añade una transición suave para todos los cambios */
}

.menuControlPanelOpcion:hover {
  background-color: var(--verde-menu-claro);
  cursor: pointer;
}

.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #F9F6EE;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* @media print {
  .hidden-print {
    display: none !important;
  }
  
  body * {
    visibility: hidden;
  }
  
  .printable-area,
  .printable-area * {
    visibility: visible;
  }
  
  .printable-area {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
} */